{% extends "home.html" %} {% block content %}

<style>
  .main {
    background-color: lightgrey;
    width: 700px;
    border: 15px solid rgb(77, 77, 77);
    padding: 50px;
    margin: auto;
    align-content: center;
  }
</style>
  <div class="main">
    <h1>About us:</h1>
    <p>
      Here in What to eat,we aim to provide the simplest method to reserve the
      resturant as you wish just with a few simple click, with the simplist
      control, instantly reserve the restaruant seat that you want to eat today!
    </p>
    <p>Please feel free to contact us when ever you have any inquries.</p>
    <h2>Contact us:</h2>
    <p>Phone:12345678</p>
    <p>Email:Whattoeat@email.com</p>
  </div>
  {% endblock content%}
</b>
