{% extends "home.html" %} {% block content %}
<style>
  .main {
    padding: 70px 200px 30px 200px;
  }
  .personal {
    background-color: rgb(255, 255, 255);
    width: 700px;
    border: 5px solid rgb(140, 214, 248);
    padding: 50px;
    margin: auto;
    align-content: center;
  }
</style>
<div class="main">
  <div class="personal">
    <h2>Personal information:</h2>
    <br />UID:{{ account.UID }} <br />User name:{{ account.username }}
    <br />Email:{{ account.email }}
  </div>
  <div>
    <br />
    <h2>All booking records information:</h2>
    <br />
    here
    <div class="row">
      <div class="col-sm-1" style="outline-style: solid">BID</div>
      <div class="col-sm-1" style="outline-style: solid">UID</div>
      <div class="col-sm-1" style="outline-style: solid">SID</div>
      <div class="col-sm-2" style="outline-style: solid">Time</div>
      <div class="col-sm-2" style="outline-style: solid">date</div>
      <div class="col-sm-3" style="outline-style: solid">month</div>
      <div class="col-sm-2" style="outline-style: solid">year</div>
    </div>
    {%for booking in bookinglist%}
    <div class="row">
      <div class="col-sm-1" style="outline-style: solid">{{booking.BID}}</div>
      <div class="col-sm-1" style="outline-style: solid">{{booking.UID}}</div>
      <div class="col-sm-1" style="outline-style: solid">{{booking.SID}}</div>
      <div class="col-sm-2" style="outline-style: solid">{{booking.Time}}</div>
      <div class="col-sm-2" style="outline-style: solid">{{booking.date}}</div>
      <div class="col-sm-3" style="outline-style: solid">{{booking.month}}</div>
      <div class="col-sm-2" style="outline-style: solid">{{booking.year}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
