{% extends "home.html" %} {% block content %}
<style>
  .main {
    padding: 70px 200px 30px 200px;
  }
</style>
<div class="main">
  <!--users-->
  <h4>List of users:</h4>
  <br />
  <div class="row">
    <div class="col-sm-2" style="outline-style: solid">UID</div>
    <div class="col-sm-3" style="outline-style: solid">username</div>
    <div class="col-sm-4" style="outline-style: solid">email</div>
    <div class="col-sm-3" style="outline-style: solid">password</div>
  </div>
  {%for users in userlist%}
  <div class="row">
    <div class="col-sm-2" style="outline-style: solid">{{ users.UID }}</div>
    <div class="col-sm-3" style="outline-style: solid">
      {{ users.username }}
    </div>
    <div class="col-sm-4" style="outline-style: solid">{{ users.email }}</div>
    <div class="col-sm-3" style="outline-style: solid">
      {{ users.password }}
    </div>
  </div>
  {% endfor %}
  <br />
  <!--shops-->
  <h4>List of shops:</h4>
  <br />
  <div class="row">
    <div class="col-sm-2" style="outline-style: solid">SID</div>
    <div class="col-sm-5" style="outline-style: solid">Shopname</div>
    <div class="col-sm-5" style="outline-style: solid">Shopwebsite</div>
  </div>
  {%for shop in shoplist%}
  <div class="row">
    <div class="col-sm-2" style="outline-style: solid">{{shop.SID}}</div>
    <div class="col-sm-5" style="outline-style: solid">{{shop.Shopname}}</div>
    <div class="col-sm-5" style="outline-style: solid">
      {{shop.Shopwebsite}}
    </div>
  </div>
  {% endfor %}
  <!--bookings-->
</div>
{% endblock content %}
